<div id="questionnaire-result-wrapper">
  <% unless session[:result] == 'ERROR' %>
    <span id="questionnaire-result"><%= session[:result] %></span>
  <% else %>
    <div id="questionnaire-form">
      <%= form_for @notify, url: notify_questionnaire_path do |f| %>
        <%= f.email_field :email, placeholder: Spree.t(:email) %>
        <br />
        <%= f.submit  %>
      <% end %>
    </div>
  <% end %>
</div>