<div id="questionnaire-result-wrapper">
  <% unless session[:result] == 'ERROR' %>
    <span id="questionnaire-result"><%= session[:result] %></span>
  <% else %>
    <div id="questionnaire-form">
      <%= form_tag notify_questionnaire_path, method: 'post' do |f| %>
        <%= email_field_tag :email, nil, placeholder: Spree.t(:email) %>
        <br />
        <%= submit_tag %>
      <% end %>
    </div>
  <% end %>
</div>